@use "../util/functions" as fun;
.grid {
  display: grid;
  gap: fun.rem(20);
  grid-template-columns: 1fr;

  &--two {
    grid-template-columns: repeat(auto-fit, minmax(fun.rem(300), 1fr));
  }
  &--three {
    grid-template-columns: repeat(auto-fit, minmax(fun.rem(300), 1fr));
  }
  &--footer {
    grid-template-columns: repeat(auto-fit, minmax(fun.rem(200), 1fr));
  }
  &--left {
    text-align: initial;
  }
  &--order-priority {
    order: -1;
  }
}
