.dark {
  --primary-color: hsl(0, 0%, 0%);
  --secondary-color: hsl(255, 55%, 37%);
  --secondary-color-lighten: hsl(240, 54%, 29%);
  --secondary-color-darken: hsl(226, 100%, 5%);
  --shadow-color: hsla(0, 0%, 29%, 0.26);
  --text-color: white;
}
